* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

body {
  background-color: #CB6015;
  font-family: Roboto Slab;
}

.portfolio {
  background: lightgray;
}

footer {
  width: 100%;
  padding-bottom: 20px;
  background-color: black;
}

.nav-bar {
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;

  display: flex;
  margin-right: 80px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;

  display: inline-block;
  padding: 18px 20px;
  transition: 0.3s ease;
} /* this thing is bugging and adding some like random buttons */

.nav-links a:hover {
  background-color: #CB6015;
}

.logo {
  margin-left: 60px;

  display: flex;
  align-items: center;
}

.logo p {
  color: orange;
}

.logo a {
  font-size: 1.7rem;
  font-weight: 700;
  color: white;
  text-decoration: none;

  display: flex;
  justify-content: center;
}

.container {
  display: flex;
}

.one {
  background-color: black;
  height: 100vh;
  width: 20%;

  display: flex;
  justify-content: center;
}

.socials {
  gap: 10px;

  position: absolute;
  top: 65%;
  left: 3%;
}

.box {
  background-color: green;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

.two {
  background-color: ;
  width: 25%;
  height: 70%;
  overflow: hidden;

  position: absolute;
  top: 20%;
  left: 30%;
}/* this needs to be fixed */

.two img {
  width: 100%;
  height: auto;
}

.about-text {
  width: 30%;
  height: 70%;

  position: absolute;
  top: 20%;
  left: 60%;
} /* this needs to be fixed */

.title-about {
  font-weight: 1000;
  font-size: 3rem;
  margin-bottom: 10px;
  color: #393D47;
}

.about-font {
  font-size: 1.2rem;
  padding: 10px;
  color: #666460;

}

.separation {
  position: absolute;
  top: 10%;

  width: 75%;
  height: 50%;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo {
  width: 30%;
  height: 100%;

  display: flex;
  align-items: center;
}

.photography {
  width: 100%;
  max-height: auto;
}

.separation-text {
  position: absolute;
  top: 65%;

  width: 75%;
  height: 30%;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-text {
  width: 30%;
  padding: 20px;
}

.title-photo {
  font-weight: 1000;
  color: #393D47;
}

.photo-text-font {
  color: #666460;
}

.image1 {
  width: 100%;
}

.sunset-two img {
  position: absolute;
  top: 10%;
  left: 70%;

  width: 25%;
  height: auto;
}

.heading {
  position: absolute;
  top: 20%;
  left: 12%;

  max-width: 800px;
  text-decoration-color: #CB6015;
  font-size: 3.5rem;
  font-weight: 1000;
  color: white;
}

.subheading {
  max-width: 400px;
  position: absolute;
  top: 45%;
  left: 20%;

  font-size: 1.1rem;
  color: white;
}

.button {
  position: absolute;
  top: 61%;
  left: 34%;

  background-color: black;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  border: 4px solid white;
  opacity: .9;
}

.button a{
  text-decoration: none;
  color: white;

  width: 100%;
  height: 100%;
  border-radius: 14px;
  transition: 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button a:hover {
  background-color: white; /*#CB6015 -  orange colour if I want */
  color: black;
}

.info {
  border: 2px solid white;
  filter: brightness(0) invert(1);
  border-radius: 25%;
  padding: 10px;
  color: white;
  margin-bottom: 7px;
  width: 30px;

  display: flex;
}

.socials img:hover {
    filter: brightness(0) saturate(100%) invert(48%) sepia(88%) saturate(2000%) hue-rotate(-10deg); /* makes the images orange color */
}
